@import "tailwindcss";

/*  For some reason media query does not work with assigning variables so this uses tailwind dark: */
:root {
  --dark-foreground: #fafafa; /* zinc-50 */
  --dark-background: #18181b; /* zinc-900 */
  --light-foreground: #18181b;
  --light-background: #fafafa;
}

@theme {
  --color-light-foreground: var(--light-foreground);
  --color-light-background: var(--light-background);
  --color-dark-foreground: var(--dark-foreground);
  --color-dark-background: var(--dark-background);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  /* Graph Paper Background */
  background-color: #fafafa; /* zinc-50 */
  background-image: linear-gradient(#e2e8f0 1px, transparent 1px),
    linear-gradient(90deg, #e2e8f0 1px, transparent 1px);
  background-size: 20px 20px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #18181b; /* zinc-900 */
    background-image: linear-gradient(#1e3555 1px, transparent 1px),
      linear-gradient(90deg, #1e3555 1px, transparent 1px);
  }
}
